name: Build Shutdown Tool

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Download Dependencies
      run: |
        go mod tidy
        go mod download

    - name: Build Windows Binary
      run: |
        # -s -w: 减小体积
        # -H windowsgui: 隐藏命令行窗口
        GOOS=windows GOARCH=amd64 go build -ldflags="-s -w -H windowsgui" -o shutdown-tool.exe main.go

    - name: Upload Windows Artifact
      uses: actions/upload-artifact@v4
      with:
        name: shutdown-tool-windows
        path: shutdown-tool.exe
        retention-days: 5
